@model mundo_veg.Models.Receita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modo_Preparo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modo_Preparo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rendimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dificuldade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo_Preparo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempo_Preparo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
