@model IEnumerable<mundo_veg.Models.Receita>

@{
    ViewData["Title"] = "Index";
}



<main>
    <div class="corpo">
        <h3>Receitas</h3>
    </div>
</main>

<section class="conteudo">

    <div class="lista-receitas">

@foreach (var item in Model) {
        <div class="Lista">

                <div>
                    @if (!string.IsNullOrEmpty(item.Imagem))
                    {
                        <img src=".\imagens\@{
                            @item.Imagem}" width="250" />
                    }
                </div>
            <div>Nome da receita:
                @Html.DisplayFor(modelItem => item.Nome)
            </div>
            <div>Ingredientes:
                @Html.DisplayFor(modelItem => item.Ingredientes)
            </div>
            <div>Modo de preparo:
                @Html.DisplayFor(modelItem => item.Modo_Preparo)
            </div>
            <div>Rendimento:
                @Html.DisplayFor(modelItem => item.Rendimento)
            </div>
            <div>Nível de dificuldade:
                @Html.DisplayFor(modelItem => item.Dificuldade)
            </div>
            <div>Tempo de preparo:
                @Html.DisplayFor(modelItem => item.Tempo_Preparo)
            </div>
            <div>Categoria:
                @Html.DisplayFor(modelItem => item.Categoria)
            </div>
                
        </div>
}

</div>
</section>

<link href="/css/receitas.css" rel="stylesheet" />
