@model IEnumerable<mundo_veg.Models.Receita>

@{
    ViewData["Title"] = "Index";
}



<main>
    <div class="corpo">
        <h3>Receitas</h3>
    </div>
</main>

<section class="conteudo">

    <div class="lista-receitas">

@foreach (var item in Model) {
        <div class="Lista">

                <div>
                    @if (!string.IsNullOrEmpty(item.Imagem))
                    {
                        <img src=".\imagens\@{
                                @item.Imagem}" width="250" />
                    }
                </div>
            <div
                ><b>Nome:</b>
                @Html.DisplayFor(modelItem => item.Nome)
            </div>
            <div>
                <b>Ingredientes:</b>
                @Html.DisplayFor(modelItem => item.Ingredientes)
            </div>
            <div>
                <b>Modo de Preparo:</b>
                @Html.DisplayFor(modelItem => item.Modo_Preparo)
            </div>
            <div>
                <b>Rendimento:</b>
                @Html.DisplayFor(modelItem => item.Rendimento)
            </div>
            <div><b>Dificuldade:</b>
                @Html.DisplayFor(modelItem => item.Dificuldade)
            </div>
            <div>
                <b>Tempo de Preparo:</b>
                @Html.DisplayFor(modelItem => item.Tempo_Preparo)
            </div>
            <div>
                <b>Categoria:</b>
                @Html.DisplayFor(modelItem => item.Categoria)
            </div>
                
        </div>
}

</div>
</section>

<link href="/css/receitas.css" rel="stylesheet" />
