@model IEnumerable<mundo_veg.Models.Produto>

@{
    ViewData["Title"] = "Index";
}
<main>
    <div class="corpo">
        <h3>Mercado</h3>
    </div>
</main>

<section class="conteudo">
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchString")
            <input type="submit" value="Buscar" class="btn btn-warning btn-rounded btn-sm" />
        </p>
    }
    <div class="lista-produtos">

@foreach (var item in Model) {
        <div id="lista">
                <div>
                    <img src="/lib/mercearias.png" style="width:250px;height:250px;border-radius: 10%;box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);" />
                </div>
                <div>
                    <b>Nome do produto:</b>
                @Html.DisplayFor(modelItem => item.Nome)
            </div>
                <div>
                    <b>Quantidade (Kg):</b>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </div>
                <div>
                    <b>Descrição do produto:</b>
                @Html.DisplayFor(modelItem => item.Descricao)
            </div>
                <div>
                    <b>Preço (R$):</b>
                @Html.DisplayFor(modelItem => item.Preco)
            </div>
                <div>
                    <b>Categoria:</b>
                @Html.DisplayFor(modelItem => item.Categoria)
            </div>
                <div>
                    <b>Estabelecimento:</b>
                    @Html.DisplayFor(modelItem => item.Estabelecimento.Nome)
                </div>
                   
        </div>                
}
    
</div>
</section>
<link href="../css/produtos.css" rel="stylesheet" />