
@model IEnumerable<mundo_veg.Models.UsuarioPj>

@{
    ViewData["Title"] = "Index";
}

<h3>Estabelecimentos</h3>

<div class="table-responsive">

<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Horario_funcionamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faz_entrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempo_entrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contato)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horario_funcionamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faz_entrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tempo_entrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                    <th>
                        @if (!string.IsNullOrEmpty(item.Contato))
                        {
                            <a href="@{@item.Contato}"><img src="/lib/zap.png" width="30" /></a>
                        }
                </th>
            </tr>
        }
    </tbody>
</table>
</div>
