
@model IEnumerable<mundo_veg.Models.UsuarioPj>

@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="corpo">
        <h3>Estabelecimentos</h3>
    </div>
</main>

<section class="conteudo">
    @using (Html.BeginForm())
    {
        <p>
             @Html.TextBox("SearchString")
            <input type="submit" value="Buscar" class="btn btn-warning btn-rounded btn-sm"  />
        </p>
    }
    <div class="lista-estabelecimentos">

@foreach (var item in Model) {
    <div id ="Lista">

                <div>
                    <img src="/lib/loja.png" style="width:250px;height:250px;border-radius: 10%;box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);" />
                </div>

                <div>
                    <b>Nome:</b>
                   @Html.DisplayFor(modelItem => item.Nome)
                </div>
                <div>
                    <b>Telefone:</b>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </div>
                
                <div>
                    <b>Rua:</b>
                    @Html.DisplayFor(modelItem => item.Rua)
                </div>
                <div>
                    <b>Número:</b>
                    @Html.DisplayFor(modelItem => item.Numero)
                </div>
                <div>
                    <b>Bairro:</b>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </div>
                <div>
                    <b>Cidade:</b>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </div>
                <div
                    ><b>Estado:</b>
                    @Html.DisplayFor(modelItem => item.Estado)
                </div>
                <div>
                    <b>Horário de funcionamento:</b>
                    @Html.DisplayFor(modelItem => item.Horario_funcionamento)
                </div>
                <div>
                    <b>Tem delivery?</b>
                    @if (item.Faz_entrega == true)
                    {
                        <span>Sim</span>
                    }else
                    {
                        <span>Não</span>
                    }
                </div>
                <div>
                    <b>Tempo de entrega (minutos):</b>
                    @Html.DisplayFor(modelItem => item.Tempo_entrega)
                </div>
                <div>
                    <b>Descrição:</b>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </div>
                <div>
                    <b>Contato:</b>
                    @if (!string.IsNullOrEmpty(item.Contato))
                    {
                        <a href="@{@item.Contato}"><img src="/lib/zap.png" width="30" /></a>
                    }
                </div>
            </div>
        }
        </div>
 </section>
        
<link href="/css/estabelecimentos.css" rel="stylesheet" />