
@model IEnumerable<mundo_veg.Models.UsuarioPj>

@{
    ViewData["Title"] = "Index";
}
<main>
    <div class="corpo">
        <h3>Estabelecimentos</h3>
    </div>
</main>

<section class="conteudo">

    <div class="lista-estabelecimentos">



        @foreach (var item in Model)
        {
            <div class="Lista">

                <div>Nome:
                   @Html.DisplayFor(modelItem => item.Nome)
                </div>
                <div>Rua:
                    @Html.DisplayFor(modelItem => item.Rua)
                </div>
                <div>Número:
                    @Html.DisplayFor(modelItem => item.Numero)
                </div>
                <div>Bairro:
                    @Html.DisplayFor(modelItem => item.Bairro)
                </div>
                <div>Cidade:
                    @Html.DisplayFor(modelItem => item.Cidade)
                </div>
                <div>Estado:
                    @Html.DisplayFor(modelItem => item.Estado)
                </div>
                <div>Horário de Funcionamento:
                    @Html.DisplayFor(modelItem => item.Horario_funcionamento)
                </div>
                <div>Tem delivery?
                    @if (item.Faz_entrega == true)
                    {
                        <span>Sim</span>
                    }else
                    {
                        <span>Não</span>
                    }
                </div>
                <div>Tempo de entrega:
                    @Html.DisplayFor(modelItem => item.Tempo_entrega)
                </div>
                <div>Descrição:
                    @Html.DisplayFor(modelItem => item.Descricao)
                </div>
            </div>
        }
        </div>
 </section>
        
<link href="/css/estabelecimentos.css" rel="stylesheet" />