
@model IEnumerable<mundo_veg.Models.UsuarioPj>

@{
    ViewData["Title"] = "Index";
}
<main>
    <div class="corpo">
        <h3>Estabelecimentos</h3>
    </div>
</main>

<section class="conteudo">

    <div class="lista-estabelecimentos">



        @foreach (var item in Model)
        {
            <div class="Lista">

                <div>
                    <b>Nome:</b>
                   @Html.DisplayFor(modelItem => item.Nome)
                </div>
                <div>
                    <b>Rua:</b>
                    @Html.DisplayFor(modelItem => item.Rua)
                </div>
                <div>
                    <b>Número:</b>
                    @Html.DisplayFor(modelItem => item.Numero)
                </div>
                <div>
                    <b>Bairro:</b>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </div>
                <div>
                    <b>Cidade:</b>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </div>
                <div
                    ><b>Estado:</b>
                    @Html.DisplayFor(modelItem => item.Estado)
                </div>
                <div>
                    <b>Horário de Funcionamento:</b>
                    @Html.DisplayFor(modelItem => item.Horario_funcionamento)
                </div>
                <div><b>Tem delivery?</b>
                    @if (item.Faz_entrega == true)
                    {
                        <span>Sim</span>
                    }else
                    {
                        <span>Não</span>
                    }
                </div>
                <div><b>Tempo de entrega:</b>
                    @Html.DisplayFor(modelItem => item.Tempo_entrega)
                </div>
                <div><b>Descrição:</b>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </div>
            </div>
        }
        </div>
 </section>
        
<link href="/css/estabelecimentos.css" rel="stylesheet" />